.element__like{
  padding: 30px 20px 30px 42px;
  cursor: pointer;
  background: url(../../../images/like.svg) no-repeat center;
  background-size: 22px 19px;
  border: none;
}
.element__like:hover{
  opacity: .5;
}
.element__like:active{
  opacity: 1;
  background: url(../../../images/like_black.svg) no-repeat center;
}
