.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 45px 0 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}
@media (max-width: 425px) {
  .header {
    max-width: 425px;
    padding: 28px 0 42px;
  }
}
