.popup__form-submit{
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, .2); 
  padding: 16px 124px 14px 125px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .2); 
  border-radius: 2px;
  cursor: pointer;
}
.popup__form-submit:hover{
  opacity: 0.8;
}
@media (max-width: 425px) {
  .popup__form-submit{
    margin-top: 15px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
