.footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 68px 0 60px;
  max-width: 880px;
}
@media (max-width: 1279px) {
  .footer{
    padding: 66px 19px 60px;
    width: calc(100vw - 38px);
  }
}
@media (max-width: 425px) {
  .footer{
    padding: 48px 19px 36px;
  }
}
