.footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 66px 0 60px;
  max-width: 880px;
}
@media (max-width: 425px) {
  .footer{
    padding: 48px 0 36px;
  }
}
